@import "tailwindcss";

:root {
  --background: #F0FAFA;
  --foreground: #0F172A;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .animate-in {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
